<table id="person_attributes" class="table table-bordered">
  <tr>
    <td><strong><%= t("question") %></td></strong>
    <td><%= @question.question %></td>
  </tr>

  <tr>
    <td><%= image_tag(@question.picture)%></td>
  </tr>

</table>