<!DOCTYPE html>
<html>
<head>
  <title>Estuda Meu Filho</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="logo">EstudaMeuFilho</h1>
<%= yield %>
<a>Teste</a>
</body>
</html>
